<!--@subject {{trans "Canceled Order"}} @-->
{{template config_path="design/email/header_template"}}
<div class="cancel-order-title">
    <h2 class="title" style="font-weight: 600; margin-bottom: 0">Order Cancelation</h2>
    <p class="order-id">
        <label class="label" style="font-weight: 600; margin-bottom:0">Order:</label>
        {{var orderid}}
    </p>
</div>
<div class="cancel-order-content">
    <div class="content-item">
        <h2 class="title" style="font-weight: 600; margin-bottom: 0">Hello {{var customer_lastname}}</h2>
        <p class="text">We're writing to let you know that your order has been successfuly canceled. In most cases, you pay for items when ship them to you, so you won't be charged for items that are canceled *.</p>
    </div>
    <div class="content-item">
        <h2 class="title" style="font-weight: 600; margin-bottom: 0">Order Detail</h2>
        <p class="order-id" style="margin-bottom: 0">
            <label class="label" style="font-weight: 600; margin-bottom:0">Order:</label> 
        {{var orderid}}</p>
        <p class="text" style="margin-bottom: 0">Placed on {{var created_at}}
        </p>
        <div class="order-items" style="margin-top:20px;">

            {{layout handle="email_product_list" products=$collectionProduct area="frontend"}}

            <div class="total" style="margin-top:20px;">
                <label class="label" style="font-weight: 600; margin-bottom:0">Total:</label>
                <span class="text"><span class="currency">{{var order_currency_code}}</span>{{var base_grand_total}}</span>
            </div>
            <div class="sold-by">
                <label class="label" style="font-weight: 600; margin-bottom:0">Sold by:</label>
                <span class="text">{{var store_name}}</span>
            </div>
        </div>
    </div>
</div>
{{template config_path="design/email/footer_template"}}