<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magepow" translate="label" sortOrder="1">
            <label>Magepow</label>
        </tab>
        <section id="magepow_cancelorder" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Cancel Order</label>
            <tab>magepow</tab>
            <resource>Magepow_CancelOrder::config_system</resource>
            <group id="general" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enabled</label>
                    <comment>Enables or disables extension.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="email_sender" translate="label comment" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Email Sender</label>
                    <validate>validate-email</validate>
                    <comment>Email sender when the customer cancels the order</comment>
                </field>
                <field id="email_seller" translate="label comment" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Email Seller</label>
                    <validate>validate-email</validate>
                    <comment>Enter admin email to get notified to each Canceled order</comment>
                </field>
            </group>
        </section>
    </system>
</config>